// ---------------------------------------------------------------------
// File name         : pins.cst
// Description       : Physical Constraints
// Created by        : ushicow
// ---------------------------------------------------------------------
// Release history
// VERSION |   Date      | AUTHOR  |    DESCRIPTION
// --------------------------------------------------------------------
//   1.0.0 | 2026/02/15  | ushicow |    initial
//   1.0.1 | 2026/03/01  | ushicow | for 1st batch of PCB
//   1.0.2 | 2026/03/07  | ushicow | 80 Column Text
//   1.1.1 | 2026/03/28  | ushicow | Extended 64KB memory PCB V1.1.1
//   1.1.6 | 2026/04/26  | ushicow | correct data bus timing
// --------------------------------------------------------------------

IO_LOC "led6" 16;
IO_PORT "led6" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led5" 15;
IO_PORT "led5" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led4" 14;
IO_PORT "led4" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led3" 13;
IO_PORT "led3" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led2" 11;
IO_PORT "led2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led1" 10;
IO_PORT "led1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "mclk" 52
IO_PORT "mclk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "dvi_clk_p" 69,68;
IO_PORT "dvi_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_data_p[0]" 71,70;
IO_PORT "dvi_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_data_p[1]" 73,72;
IO_PORT "dvi_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_data_p[2]" 75,74;
IO_PORT "dvi_data_p[2]" PULL_MODE=NONE DRIVE=8;

IO_LOC "ra_en" 38;
IO_PORT "ra_en" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d_rw" 36;
IO_PORT "d_rw" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "md_en" 39;
//IO_PORT "md_en" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "gr" 25;
IO_PORT "gr" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "serout" 26;
IO_PORT "serout" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clrgat" 27;
IO_PORT "clrgat" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "q3" 28;
IO_PORT "q3" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sync" 29;
IO_PORT "sync" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "pras_n" 30;
IO_PORT "pras_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "c07x" 33;
IO_PORT "c07x" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rw" 34;
IO_PORT "rw" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "d[1]" 40;
IO_PORT "d[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d[0]" 35;
IO_PORT "d[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "phi0" 41;
IO_PORT "phi0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "phi1" 42;
IO_PORT "phi1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "vid80" 51;
IO_PORT "vid80" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "en80" 53;
IO_PORT "en80" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rw80" 54;
IO_PORT "rw80" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ldps" 55;
IO_PORT "ldps" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk14m" 56;
IO_PORT "clk14m" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "an3" 57;
IO_PORT "an3" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "ar[7]" 86;
IO_PORT "ar[7]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[6]" 85;
IO_PORT "ar[6]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[5]" 84;
IO_PORT "ar[5]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[4]" 83;
IO_PORT "ar[4]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[3]" 82;
IO_PORT "ar[3]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[2]" 81;
IO_PORT "ar[2]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[1]" 80;
IO_PORT "ar[1]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ar[0]" 79;
IO_PORT "ar[0]" IO_TYPE=LVCMOS33OD18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "d[2]" 77;
IO_PORT "d[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d[3]" 76;
IO_PORT "d[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d[4]" 48;
IO_PORT "d[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d[5]" 49;
IO_PORT "d[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d[6]" 31;
IO_PORT "d[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "d[7]" 32;
IO_PORT "d[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
